@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    text-align: center;
    color: white;
}

p, a, span, i {
    font-family: "Crimson Pro", serif;
    font-weight: normal;
    color: white;
}

body {
    background: linear-gradient(to bottom right,  #232370, #4f0a8c);
    background-attachment: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-body {
    background: linear-gradient(to bottom right,  #232370, #4f0a8c);
    transition: all 500ms ease;
    opacity: 0;
}

/* Top Controls */
.top {
    z-index: 99;
    top: 0;
    position: fixed;
}

.top .titles {
    height: 7vh;
    margin-top: -0.8vh;
    width: 100vw;
    background:  #232370;
    justify-content: center;
}

.top h1 {
    margin: 10px 0;
}

.top .titles h2 {
    margin-top: 5px;
    font-size: 35px;
}

.controls-top {
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.controls-top .top-show-controls {
    flex: 9;
    display: flex;
    justify-content: space-evenly;
    transition: transform 800ms ease-in-out;
    background: linear-gradient(to bottom right,  #232370, #4f0a8c);
} 

.top-show-controls.hide {
  /* transform: translateX(calc(-100vw));  */
  transform: translateY(calc(-100vh)); 
}

.controls-top button {
    position: relative;
    background-color: transparent;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out, transform 500ms ease-in-out;
    padding: 8px 12px; 
    border: none;
}

.controls-top #btn-hide-controls {
    flex: 1;
    transition: opacity 400ms ease;
    background:  #232370;
    border-radius: 0;
}

.controls-top button:hover {
    /* background-color: white; */
}

/* Tooltip styling */
.controls-top button::after {
    content: attr(aria-label);
    position: absolute;
    top: 100%; /* place above the button */
    left: 50%;
    transform: translateX(-50%) translateY(-8px);
    background-color: #4f0a8c;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    z-index: 10;
  /* small arrow */
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.controls-top button:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-12px);
    pointer-events: auto;
}

.controls-top button i {
    transition: color 500ms ease-in-out, transform 500ms ease-in-out;
    font-size: 30px;
}

.controls-top .top-show-controls button:hover i {
    /* color: #232370; */
    transform: scale(1.17); 
}

#btn-hide-controls {
  position: sticky;
  left: 0;
  z-index: 100;
}

.controls-bottom {
    height: 5vh;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: -2vh 14vw 0 14vw;
    position: fixed;
}

.controls-bottom button {
    position: relative;
    background-color: transparent;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 500ms ease-in-out, color 500ms ease-in-out, transform 500ms ease-in-out;
    padding: 8px 12px; 
    border: none;
}

.controls-bottom #btn-hide-controls {
    flex: 1;
    transition: opacity 400ms ease;
    background:  #232370;
    border-radius: 0;
}

/* Tooltip styling */
.controls-bottom button::after {
    content: attr(aria-label);
    position: absolute;
    bottom: 100%; /* place above the button */
    left: 50%;
    transform: translateX(-50%) translateY(-8px);
    background-color: #4f0a8c;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    z-index: 10;
  /* small arrow */
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.controls-bottom button:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-12px);
    pointer-events: auto;
}

.controls-bottom button i {
    transition: color 500ms ease-in-out, transform 500ms ease-in-out;
    font-size: 30px;
}

.controls-bottom  button:hover i {
    /* color: #232370; */
    transform: scale(1.17); 
}

.controls-bottom .page-counts {
    display: none;
}

@media (max-width: 767px) {
    .top .titles h2 {
        margin-top: 10px;
        font-size: 20px;
    }

    .top .titles {
        height: 5vh;
        margin-top: 0vh;
    }

    .controls-top .top-show-controls {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 20%);
        grid-template-rows: repeat(2, 40%);
        gap: 10px;
        /* justify-content: space-evenly; */
    } 

    .controls-top button {
        font-size: 10px;
        padding: 8px 8px; 
    }

    .controls-top button i {
        font-size: 20px;
    }

    .controls-top .btn-skip-backward,
    .controls-top .btn-prev-page,
    .controls-top .btn-next-page,
    .controls-top .btn-skip-forward {
        display: none;
    }

    .controls-top #btn-hide-controls::after {
        content: attr(aria-label);
        position: absolute;
        bottom: 100%; /* place above the button */
        left: 100%;
        transform: translateX(-50%) translateY(-8px);
        color: white;
        padding: 8px 8px;
        border-radius: 4px;
        white-space: nowrap;
        font-size: 14px;
        z-index: 9999;
    }

    .controls-bottom {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        margin: -2vh 1vw 0 1vw;
        position: fixed;
    }
}

/* Content */
.content {
    margin-top: 15vh;
    height: 80vh;
    width: 100vw;
    /* background-color: white; */
    text-align: center;
    overflow-x: hidden;
}

.loading-articles {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-self: center;      
    font-weight: bold;
    font-family: "Cormorant Garamond", serif;
}

.loading-articles h2 {
    text-align: center;
    margin-top: 20vh;
    margin-left: 35vw;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 60px; 
}

.loading-articles p {
    margin-top: 30px;
    font-size: 30px; 
}

.dots::after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  background-color: #555;
  animation: blinkDots 1.5s infinite;
  position: relative;
}

.dots::after {
  content: '•';
  animation-name: blinkDots;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  font-size: 2rem;
  color: #555;
  position: relative;
}

@keyframes blinkDots {
  0%, 20% {
    color: transparent;
  }
  50% {
    color: #555;
  }
  100% {
    color: transparent;
  }
}

.found-articles {
    /* opacity: 0; */
    transition: all 400ms ease-in;
}

@media (max-width: 768px) {
    .content {
        margin-top: 17vh;
        height: 80vh;
        width: 100vw;
    }

    .loading-articles h2 {
        margin-top: 40vh;
        margin-left: 15vw;
        font-size: 40px; 
    }

    .loading-articles p {
        margin-top: 30px;
        font-size: 30px; 
    }
}

#article-thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    /* grid-template-rows: repeat(2, 45%); */
    overflow-x: auto; 
    overflow-y: hidden;
    white-space: nowrap; /* Prevent children from wrapping */
    scroll-behavior: smooth;
    scrollbar-color: rgba(100, 100, 100, 0.5) transparent; /* thumb color, then track */
    scrollbar-width: thin;
    height: 70vh;
}

#article-thumbnails::-webkit-scrollbar {
    height: 8px; /* or width, for vertical */
}

#article-thumbnails::-webkit-scrollbar-track {
    background: transparent; /* Hides the track background */
}

#article-thumbnails::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5); /* semi-transparent thumb */
    border-radius: 4px;
}

.article-thumbnail {
    height: 10vh;
    cursor: pointer;
    padding: 10px;
    margin: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f9f9f9;
    user-select: none;
    transition: background-color 0.2s ease;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.article-thumbnail:hover {
  background-color: #e0e0ff;
}

#contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
}

#thumbnailsSideView {
    z-index: 999;
    position: absolute;
    width: 100vw;
    height: 30vh;
    bottom: 10vh;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow-x: auto; 
    overflow-y: hidden;
    white-space: nowrap; /* Prevent children from wrapping */
    scroll-behavior: smooth;
    scrollbar-color: rgba(100, 100, 100, 0.5) transparent; /* thumb color, then track */
    scrollbar-width: thin;
    /* Add transition for smooth movement */
    /* transform: translateY(0); */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
}

#thumbnailsSideView::-webkit-scrollbar {
    height: 8px; /* or width, for vertical */
}

#thumbnailsSideView::-webkit-scrollbar-track {
    background: transparent; /* Hides the track background */
}

#thumbnailsSideView::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5); /* semi-transparent thumb */
    border-radius: 4px;
}

.hideThumbNails {
    transform: translateY(calc(100vh));
    opacity: 0;
}

.blackOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.412);
    opacity: 1;
    margin-top: 15vh;
    height: 85vh;
    width: 100vw;
    transition: transform 0.4ms ease-in-out;
    transform: translateX(calc(100vw));
}

#thumbnailsSideView .article-thumbnail {
    flex: 0 0 auto; /* Prevent items from shrinking or wrapping */
    width: 15vw;
    height: 12vw;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f9f9f9;
    user-select: none;
    transition: background-color 0.2s ease;
}

.hide {
    transform: translateX(calc(-200vw));
}

.loading-article-content {
    display: none;
    margin-top: 30vh;
}

#flipbook {
    z-index: 97;
    margin-left: 9vw;
    margin-right: 9vw;
    margin-top: 2vh;
    height: 75vh;
    width: 80vw;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: margin 0.4s ease;
}

/* Each page */
#flipbook > div {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Page images */
#flipbook img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    user-select: none;
    -webkit-user-drag: none;
}

.turn-page {
  cursor: pointer;
}

@media (max-width: 768px) {
    #article-thumbnails {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        /* grid-template-rows: repeat(2, 45%); */
        height: 80vh;
    }

    .article-thumbnail {
        width: 27vw;
        height: 20vh;
        padding: 10px;
        margin: 10px;
        margin-top: 15px;
    }

    #contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #thumbnailsSideView {
        height: 30vh;
        bottom: 0vh;
        left: 0;
    }

    #thumbnailsSideView .article-thumbnail {
        width: 30vw;
        height: 28vw;
    }

    #flipbook {
        margin-left: 0;
        margin-right: 0;
        margin-top: 2vh;
        height: 75vh;
        width: 100vw;
    }

    #flipbook img {
        width: 98vw;
        height: 110vw;
        object-fit: contain;
        user-select: none;
        -webkit-user-drag: none;
    }

    .blackOverlay {
        margin-top: 20vh;
        height: 80vh;
        width: 100vw;
    }
}





